﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
  
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.main {
    padding: 60px 30px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.main-contact {
    display: flex;
    -webkit-box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.23);
    box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.23);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.contact {
    display: flex;
    flex-flow: column;
    align-items: center;
}


    .main-tittle {
        margin:0;
        padding: 20px;
        background-color: black;
        color: white;
     
    }

.form-contact {
    display: flex;
    flex-flow: column;
   
    padding: 20px 20px;
}

input {
    width: 300px;
    padding: 5px 5px;
}
button {
    border: 1px solid #5bc500;
    color: #fff;
    padding: 10px;
    background-color: #5bc500;
    cursor: pointer;
    width:300px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

    button:hover {

        opacity: 0.9;
    }
    select{

        padding:10px;
    }

.table-information {
    padding: 10rem;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    border-bottom: 2px solid #ddd;
}


thead {
    background: black;
    color: white;
}

th, td {
    padding: 1rem;
}

th {
    font-weight: bolder;
    font-size: 1.4rem;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}