﻿@model  IEnumerable<serfinanza_prueba.Models.Cliente>

@{
    ViewBag.Title = "Contact";
}
    <h1>Mi lista de contactos</h1>
<div class="table-information">

    <table >
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre_completo
                </th>
                <th>
                    País
                </th>
                <th>
                    Celular
                </th>
                <th>
                    Email
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fullName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.country)

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.phone)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)

                </td>
            </tr>

            }

        </tbody>
    </table>

</div>