﻿@model IEnumerable<serfinanza_prueba.Models.country>
@{
    ViewBag.Title = "Home Page";
}


<div class="main">

    <div class="main-contact">

        <form method="post" action="@Url.Action("saveContact","Home")">
            <div class="contact">

                <h1 class="main-tittle">Registro del contacto</h1>
                <div class="form-contact">
                    <label>Nombre completo</label>
                    <input type="text" name="fullName" />
                </div>

                <div class="form-contact">
                    <label>País</label>
                    <select id="country_list" name="country">
                        @foreach (var item in Model)
                        {

                            <option>@item.name</option>

                        }


                    </select>

                </div>

                <div class="form-contact">
                    <label>Celular</label>
                    <input type="number" name="phone" />
                </div>

                <div class="form-contact">
                    <label>Correo electronico</label>
                    <input type="email" name="email" />
                </div>

                <div class="form-contact">
                    <button name="save" type="submit" class="save">Guardar</button>
                </div>

            </div>
        </form>
    </div>

</div>